<IfModule mod_rewrite.c>
    RewriteEngine On

    # Jangan ubah file/folder yang memang ada
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Semua request lain dilempar ke router (app.php)
    RewriteRule ^ app.php [L]
</IfModule>
